<div class="preloader">
    <div class="sk-spinner sk-spinner-wordpress">
         <span class="sk-inner-circle"></span>
    </div>
    <h3 class="rioncontrast" style="padding-left: 1.5rem;color:#bfba55">იტვირთება</h3>
</div>
